<%- include('partials/header.ejs') %>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Orders</h4>
        <!-- <a class=" btn btn-info" href="/addCoupen"  > Add Coupen -->

        <!-- </a> -->
        <div class="table-responsive">
          <table class="table table-striped" style="display: contents">
            <thead>
              <tr>
                <th>UserId</th>
                <th>OrderId</th>
                <th>Payment Method</th>
                <th>Total Amount</th>
                <th>Order Status</th>
                <th>Date details</th>
              </tr>
            </thead>

            <% for( let i=0; i < Orders.length; i++ ) { %>

              <tbody>
                <tr>
                  <td class="py-1">
                    <%= Orders[i].userId %>
                  </td>
                  <td>
                    <%= Orders[i]._id %>
                  </td>
                  <td>
                    <%= Orders[i].PaymentMethod %>
                  </td>

                  <td>
                    <%= Orders[i].totalAll %>
                  </td>

                  <% if (Orders[i].OrderStatuse !="Order Canceled" && Orders[i].OrderStatuse !="Delivered" &&
                    Orders[i].OrderStatuse !="Returned" &&
                    Orders[i].OrderStatuse !="Returned Success" ) { %>

                    <td>
                      <select class="form-select" aria-label="Default select example" name="track" id="track<%= i %>">
                        <option selected>
                          <%= Orders[i].OrderStatuse %>
                        </option>
                        <option value="Order Canceled">Order Canceled</option>
                        <option value="order confirmed">order confirmed</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Delivered">Delivered</option>
                        <option value="Out For Delivery">Out For Delivery</option>
                      </select>
                      <button type="button" class="btn btn-primary"
                        onclick="OrderCancel('<%= Orders[i]._id %>','<%= i %>')" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Update
                      </button>
                    </td>
                    <% } else if (Orders[i].OrderStatuse=='Returned' ) { %>
                      <td>
                        
                        <button onclick="approveReturn('<%= Orders[i]._id %>','<%= Orders[i].totalAll %>','<%= Orders[i].userId %>')" type="button"
                          class="btn btn-outline-info btn-fw">Approve</button>
                      </td>
                      <% }else{ %>
                        <td>
                          <p id="orderchangeCoulor">
                            <%= Orders[i].OrderStatuse %>
                          </p>
                        </td>
                        <% } %>
                          <td>
                            <%= Orders[i].date %>
                          </td>

                          <td>
                            <a href="/orderDetails/<%= Orders[i]._id %>" type="button"
                              class="btn btn-outline-info btn-fw">Details</a>
                          </td>
                </tr>
              </tbody>

              <% } %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script>
    function OrderCancel(oderId, index) {
      console.log(oderId + " " + index);
      const value = $(`#track${index}`).find(":selected").val();
      console.log(value);
      Swal.fire({
        title: "Do you want to save the changes?",
        showDenyButton: true,
        // showCancelButton: true,
        confirmButtonText: "Save",
        denyButtonText: `Don't save`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          $.ajax({
            url: `/orderStatus?oderId=${oderId}&status=${value}`,
            method: "get",
            success: (response) => {
              console.log(response);
              Swal.fire(
                "updated!",
                "Your file has been updated.",
                "success"
              ).then((result) => {
                document.getElementById("orderchangeCoulor").style.color = "red";
                location.reload();
              });
            },
          });
        }
      });
    }
    function approveReturn(orderId,total,userdata){
      console.log(userdata);
      Swal.fire({
        title: "Do you want to save the changes?",
        showDenyButton: true,
        // showCancelButton: true,
        confirmButtonText: "Save",
        denyButtonText: `Don't save`,
      }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          console.log("rteytyr");
          $.ajax({
            url: `/approveReturn?oderId=${orderId}&total=${total}&userId=${userdata}`,
            data:{
              orderId,
              total,
              userdata

            },
            method: "post",
            success: (response) => {
              console.log(response);
              Swal.fire(
                "updated!",
                "Your file has been updated.",
                "success"
              ).then((result) => {
                document.getElementById("orderchangeCoulor").style.color = "red";
                location.reload();
              });
            },
          });
        }
      })

    }
  </script>

  <%- include('partials/_footer.ejs') %>