<%- include('userpartials/userheader.ejs') %>
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (showCart==true) { %>


                                <% for( let i=0; i < cartproduct.length; i++ ) { %>

                                    <tr>
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="/images/<%= cartproduct[i].ProductDetails.imageUrl[0] %>"
                                                        style="    width: 90px;" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <p>
                                                        <%= cartproduct[i].ProductDetails.ProductName %>
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>
                                                <%= cartproduct[i].ProductDetails.Offer %>
                                            </h5>
                                        </td>
                                        <td>
                                            <div class="product_count">
                                                <input id="count" type="text" value="<%= cartproduct[i].quantity %>"
                                                    title="Quantity:" class="input-text qty">
                                                <!-- name="qty" id="sst" maxlength="12" -->
                                                <span>
                                                    <%= cartproduct[i].quantity %>
                                                </span>
                                                <button
                                                    style="    color: black;font-size: 20px;     background-color: #acaaa3"
                                                    onclick="changeQuantity('<%= cartId %>','<%= cartproduct[i].ProductDetails._id %>',1,'<%= cartproduct[i].ProductDetails.Offer %>')"
                                                    class="increase " type="button"><i
                                                        class="lnr lnr-chevron-up"></i></button>
                                                <button
                                                    style="    color: black;font-size: 20px;     background-color: #acaaa3"
                                                    onclick="changeQuantity('<%= cartId %>','<%= cartproduct[i].ProductDetails._id %>',-1,'<%= cartproduct[i].ProductDetails.Offer %>')"
                                                    class="reduced " type="button"><i
                                                        class="lnr lnr-chevron-down"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <h5 id="t_price">
                                                <%= cartproduct[i].total %>
                                            </h5>
                                        </td>
                                        <td>
                                            <button class="genric-btn danger-border radius"
                                                onclick="deleteCart('<%= cartproduct[i].ProductDetails._id %>')">Remove</button>

                                        </td>
                                    </tr>


                                    <% } %>
                                        <% } %>

                                            <tr class="bottom_button">
                                                <td>
                                                    <a class="gray_btn" href="#">Update Cart</a>
                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                    <!-- <div class="cupon_text d-flex align-items-center">
                                                        <input type="text" placeholder="Coupon Code">
                                                        <a class="primary-btn" href="#">Apply</a>
                                                        <a class="gray_btn" href="#">Close Coupon</a>
                                                    </div> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                    <h5>Subtotal</h5>
                                                </td>
                                                <td>
                                                    <h5 id="p_price">
                                                        <%=TotalPrice %>
                                                    </h5>
                                                </td>
                                            </tr>
                                            <!-- <tr class="shipping_area">
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                    <h5>Shipping</h5>
                                                </td>
                                                <td>
                                                    <div class="shipping_box">
                                                        <ul class="list">
                                                            <li><a href="#">Flat Rate: $5.00</a></li>
                                                            <li><a href="#">Free Shipping</a></li>
                                                            <li><a href="#">Flat Rate: $10.00</a></li>
                                                            <li class="active"><a href="#">Local Delivery: $2.00</a>
                                                            </li>
                                                        </ul>
                                                        <h6>Calculate Shipping <i class="fa fa-caret-down"
                                                                aria-hidden="true"></i></h6>
                                                        <select class="shipping_select">
                                                            <option value="1">Bangladesh</option>
                                                            <option value="2">India</option>
                                                            <option value="4">Pakistan</option>
                                                        </select>
                                                        <select class="shipping_select">
                                                            <option value="1">Select a State</option>
                                                            <option value="2">Select a State</option>
                                                            <option value="4">Select a State</option>
                                                        </select>
                                                        <input type="text" placeholder="Postcode/Zipcode">
                                                        <a class="gray_btn" href="#">Update Details</a>
                                                    </div>
                                                </td>
                                            </tr> -->
                                            <tr class="out_button_area">
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                    <% if (address===null) { %>
                                                        <h6 style="color: red;">you need Address</h6>
                                                        <a class="genric-btn danger-border" style="     font-size: 16px;
                                                     
                                                        width: 30vh;   font-size: 12px" href="/viewProfile">Add
                                                            address</a>
                                                        <% }else{ %>
                                                            <div class="checkout_btn_inner d-flex align-items-center">
                                                                <a class="gray_btn" href="#">Continue Shopping</a>
                                                                <a class="primary-btn" style="    font-size: 12px"
                                                                    href="/checkout">Proceed to checkout</a>
                                                            </div>
                                                            <% } %>
                                                </td>
                                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>



        async function changeQuantity(cartId, productId, action, amont) {

            console.log("hello")
            await axios.patch(`/cartButtonOperation?cartId=${cartId}&productId=${productId}&action=${action}`)
                .then((result) => {
                    console.log(result);
                    if (result.data.stockReached) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })

                        Toast.fire({
                            icon: 'error',
                            title: 'Out of Stock',
                        })

                    }
                    
                    
                    else {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {

                            location.reload()
                        })
                    }



                })



        }
        async function deleteCart(productId) {
            console.log(productId)
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(async (result) => {
                if (result.isConfirmed) {
                    await axios.delete(`/deleteCart?productId=${productId}`)
                        .then((ans) => {
                            if (ans.data) {
                                console.log(ans.data);
                                Swal.fire(
                                    'Deleted!',
                                    'Your file has been deleted.',
                                    'success'
                                ).then((result) => {
                                    location.reload()
                                })
                                    .catch((err) => {
                                        alert("somthing Went wrong")
                                    })
                            }


                        })

                }
            })





        }

    </script>


    <%- include('userpartials/userfooter.ejs') %>