<%- include('userpartials/userheader.ejs') %>
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shop Category page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                        <a href="#">Fashon Category</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">

                <div class="sidebar-categories">
                    <div class="head">Filter</div>

                </div>
                <div class="sidebar-filter mt-50">
                    <div class="top-filter-head" style=" line-height: 60px; 
                background: #828bb3;
                 padding: 0 30px; 
                 font-size: 16px; 
                 font-weight: 400; 
                 color: #fff;"></div>
                    <div class="common-filter">
                        <div class="head">Category</div>
                        <form action="/selectedCategory" method="post">
                            <ul>
                                <% for( let i=0; i < category.length; i++ ) { %>
                                    
                                        <a href="/usercategory?category=<%= category[i]._id %>&page=1&limit=6 ">
                                        <li class="filter-list"><input class="pixel-radio" type="radio" id="apple"
                                                name="category" value="">
                                            <%= category[i]._id %>
                                        </li>
                                    </a>
                                    <% } %>


                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">Color</div>
                        <ul>
                            <% for( let i=0; i < colour.length; i++ ) { %>
                                <!-- <a href="/selectedColur/= colour[i]._id %> "> -->
                                    <a href="/usercategory?color=<%= colour[i]._id %>&page=1&limit=6 ">
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="black"
                                            name="color">
                                        <%= colour[i]._id %>
                                    </li>
                                </a>
                                <% } %>
                        </ul>
                    </div>
                    <div class="common-filter">
                        <div class="head">Price</div>
                        <div class="price-range-area">
                            <div id="price-range" ></div>
                           <a href="/usercategory?sort=1000t03000"></a> <div class="value-wrapper d-flex" >
                                <div class="price">Price:</div>
                                <p>$1000</p>
                                <div class="to" >to</div>
                                <p>$3000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                       
                    </div>
                    <div class="sorting mr-auto">
                       
                    </div>
                    <div class="pagination">
                        <% if (pagenation.previous) { %>
                            <a href="/usercategory?page=<%= pagenation.previous.page %>&limit=<%= pagenation.previous.limit %>" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                        <% } %>
                        
                           
                        
                       <% if (pagenation.current.page !=NaN) { %>
                        <a href="#"><%= pagenation.current.page %> </a>
                       <% } %>
                       
                        <!-- <a href="#">3</a>
                        <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                        <a href="#">6</a> -->
                     
                        <% if (pagenation.next) { %>
                            <a href="/usercategory?page=<%= pagenation.next.page %>&limit=<%= pagenation.next.limit %>" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        <% } %>
                     
                    </div>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        <!-- single product -->

                        <% for(var product of allproduct ) { %>

                            <div class="col-lg-4 col-md-6" style="   
                            border-radius: 16px;
                           ">
                                <div class="single-product">
                                    <a href="/productDetails/<%= product._id %> ">
                                        <img class="img-fluid" style="    height: 28vh    "
                                            src="/images/<%= product.imageUrl[0] %>" alt="">
                                    </a>
                                    <div class="product-details">

                                        <h6>
                                            <%= product.ProductName %>
                                        </h6>
                                        <h6>
                                            <%= product.Discription %>
                                        </h6>
                                        <div class="price">
                                            <h6>$<%= product.Offer %>
                                            </h6>
                                            <h6 class="l-through">$<%= product.Price %>
                                            </h6>
                                        </div>
                                        <div class="prd-bottom">
                                            <!-- href="/addToCart/%= product._id %" -->
                                            <a id="btn" class="social-info" onclick="addTocart('<%= product._id %>')">

                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">Wishlist</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-sync"></span>
                                                <p class="hover-text">compare</p>
                                            </a>
                                            <a href="" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>


                                <!-- single product -->




                    </div>
                </section>
                <!-- End Best Seller -->
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting mr-auto">
                       
                    </div>
                    <div class="pagination">
                        <% if (pagenation.previous) { %>
                            <a href="/usercategory?page=<%= pagenation.previous.page %>&limit=<%= pagenation.previous.limit %>" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                        <% } %>
                        
                           
                        
                       <% if (pagenation.current.page !=NaN) { %>
                        <a href="#"><%= pagenation.current.page %> </a>
                       <% } %>
                       
                        <!-- <a href="#">3</a>
                        <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                        <a href="#">6</a> -->
                     
                        <% if (pagenation.next) { %>
                            <a href="/usercategory?page=<%= pagenation.next.page %>&limit=<%= pagenation.next.limit %>" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        <% } %>
                     
                    </div>
                </div>
                <!-- End Filter Bar -->
            </div>
        </div>
    </div>

    <!-- Start related-product Area -->
    <section class="related-product-area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Deals of the Week</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
           
           
           
            <!-- <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Black lace Heels</a>
                                    <div class="price">
                                        <h6>$189.00</h6>
                                        <h6 class="l-through">$210.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ctg-right">
                        <a href="#" target="_blank">
                            <img class="img-fluid d-block mx-auto" src="" alt="">
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <!-- End related-product Area -->

    <!-- start footer Area -->

    <!-- End footer Area -->

    <!-- Modal Quick Product View -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="container relative">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="product-quick-view">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="quick-view-carousel">
                                <div class="item" style="background: url();">

                                </div>
                                <div class="item" style="background: url();">

                                </div>
                                <div class="item" style="background: url();">

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="quick-view-content">
                                <div class="top">
                                    <h3 class="head">Mill Oil 1000W Heater, White</h3>
                                    <div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span
                                            class="ml-10">$149.99</span></div>
                                    <div class="category">Category: <span>Household</span></div>
                                    <div class="available">Availibility: <span>In Stock</span></div>
                                </div>
                                <div class="middle">
                                    <p class="content">Mill Oil is an innovative oil filled radiator with the most
                                        modern technology. If you are
                                        looking for something that can make your interior look awesome, and at the same
                                        time give you the pleasant
                                        warm feeling during the winter.</p>
                                    <a href="#" class="view-full">View full Details <span
                                            class="lnr lnr-arrow-right"></span></a>
                                </div>
                                <div class="bottom">
                                    <div class="color-picker d-flex align-items-center">Color:
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                        <span class="single-pick"></span>
                                    </div>
                                    <div class="quantity-container d-flex align-items-center mt-15">
                                        Quantity:
                                        <input type="text" class="quantity-amount ml-15" value="1" />
                                        <div class="arrow-btn d-inline-flex flex-column">
                                            <button class="increase arrow" type="button" title="Increase Quantity"><span
                                                    class="lnr lnr-chevron-up"></span></button>
                                            <button class="decrease arrow" type="button" title="Decrease Quantity"><span
                                                    class="lnr lnr-chevron-down"></span></button>
                                        </div>

                                    </div>
                                    <div class="d-flex mt-20">
                                        <a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
                                        <a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
                                        <a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- </script> -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function addTocart(id) {

            await axios.post(`/cart/${id}`)
                .then((answer) => {
                    console.log(answer);
                    if (answer.data.status == "Success") {
                        console.log("dsfs");
               
                        // let count = $('#count_cart').html()
                        // // location.reload()
                        // count = parseInt(count) + 1
                        // $('#count_cart').html(count)
                        // console.log(count)
                        Swal.fire({
                            title: 'Product Added To Cart SuccessFully',
                          
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            }
                        }).then(()=>{
                            location.reload()
                        })


                    } else if(answer.data=="outstock" ) {
                        

                        Swal.fire({
                            title: 'Out of stock',
                            showClass: {
                                popup: 'animate__animated animate__fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate__animated animate__fadeOutUp'
                            },
                            timer:1500
                        })
                    }
                })

            console.log(id)
            console.log(cart.status)
            if (cart.notAvailable.data == 200) {

                alert(cart.status)
                let count = $('#count_cart').html()
                location.reload()
                count = parseInt(count) + 1
                $('#count_cart').html(count)
                console.log(count)


            } else {
                alert("not")
            }
        }

//    const addToCart= document.querySelector("#btn")
//    addToCart.onclick=()=>{
//     console.log("hello")
//     axios.post('http://localhost:4000/cart/%= product._id %>').then((response)=>{
//         console.log(response)
//         console.log(response.data.noAvilability)
//         if(response.data){
//             console.log("noAvilability")
//         }
//     })
//    }


    </script>



    <%- include('userpartials/userfooter.ejs') %>